__pycache__/
*.npy
*.pkl
/Codes/README.html
/Codes/old/
/Codes/results/
/Codes/docs/_build/
/Codes/drive/client_secret.json
/Codes/drive/credentials.json
/Codes/plots/mapplot/_cartopy/
/Codes/plots/mapplot/_shelve/
/Codes/plots/Drive
/Codes/plots/**/*.pdf
/Codes/plots/**/*.png
/Codes/plots/**/*.mp4
/Codes/plots/**/*.csv
/Codes/plots/.auto
/Codes/plots/*.aux
/Codes/plots/*.log
/Codes/plots/*.out
/Codes/plots/table_sub.tex
/Codes/plots/effectiveness_all/
/Documents/**/*.pdf
/Documents/**/*.png
/Documents/**/.auto
/Documents/**/*.aux
/Documents/**/*.bbl
/Documents/**/*.bcf
/Documents/**/*.blg
/Documents/**/*.log
/Documents/**/*.out
/Documents/**/*.nav
/Documents/**/*.snm
/Documents/**/*.toc
/Documents/**/*.synctex.gz
/Documents/**/*.run.xml
/Documents/**/*.docx
