__pycache__/
*.npy
*.pkl
/drive/client_secret.json
/drive/credentials.json
/upload/
/src/README.html
/src/old/
/src/results/
/src/docs/_build/
/src/plots/mapplot/_cartopy/
/src/plots/mapplot/_shelve/
/src/plots/Drive
/src/plots/**/*.pdf
/src/plots/**/*.pgf
/src/plots/**/*.png
/src/plots/**/*.mp4
/src/plots/**/*.csv
/src/plots/.auto
/src/plots/*.aux
/src/plots/*.log
/src/plots/*.out
/src/plots/table_sub.tex
/src/plots/effectiveness_all/
/docs/**/*.pdf
/docs/**/*.png
/docs/**/.auto
/docs/**/*.aux
/docs/**/*.bbl
/docs/**/*.bcf
/docs/**/*.blg
/docs/**/*.log
/docs/**/*.out
/docs/**/*.nav
/docs/**/*.snm
/docs/**/*.toc
/docs/**/*.synctex.gz
/docs/**/*.run.xml
/docs/**/*.docx
